# Ignore compiled output
*.js
*.js.map

# Ignore build artifacts
out/
dist/

# Ignore node_modules directory
node_modules/

# Ignore VS Code workspace settings
.code-workspace

# Ignore VS Code user-specific settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore npm debug log
npm-debug.log

# Ignore file system files
.DS_Store

# Environment variables
.env